/*font-family: 'Heebo', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/
* {
    box-sizing: border-box;
    font-weight: 100;
    color: #eee;
    font-family: 'Heebo', sans-serif;
    /*font-family: 'Raleway', sans-serif;*/
}

@font-face {
    font-family: "VCR";
    src: url("/fonts/VCR.ttf");
}


.overlay {
    z-index: 9998;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: opacity 0.8s;
    pointer-events: none;
    opacity: 0.6;
}
#vhs {
    z-index: 9999;
    background-image: url(/images/slowVHS.gif);
}

.hidden {
    /*display: none;*/
    opacity: 0;
}

.vhs-text {
    font-size: 2em;
    font-family: "VCR";
    padding: 1em;
}

#vhs-date {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1em;
    font-size: 2em;
    font-family: "VCR";
}

#blur {
    backdrop-filter: blur(2px) grayscale(80%);
}


.movieArt {
    position: absolute;
    width: 20%;
    height: auto;
    transition: transform 2s;
    right: 0;
    margin-top: 4%;
    box-shadow: 0px 0px 35px 4px rgba(0, 0, 0, 0.5);
    transform: perspective(100em) translate3d(0%, 0, 10px)
    rotate3d(0, 1, 0, -60deg);
}

.selected {
    transform: perspective(100em) translate3d(-200%, 0, 0) rotate3d(0, 1, 0, 0deg);

}

.left {
    /* rotate 90deg FROM -60deg */
    transform: perspective(100em) translate3d(-400%, 0, 0)
    rotate3d(0, 1, 0, 90deg);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    width: 100%;
    height: 100vh;
    background-color: #333;
}

#movieContainer {
    display: block;
    box-shadow: 0px 0px 35px 4px rgba(0, 0, 0, 0.5);
    background-color: #222;
    position: relative;
    width: 100%;
    min-height: 40vw;
}

.movie-card {
    background-color: #2d2d2d;
    border-radius: .7em;
    border: solid #666;
    padding: .3em;
    margin: .25em 0;
    max-width: 40vw;
}

button {
    transition: color .5s;
    color: #ccc;
    border-radius: .5em;
    border: solid #666;
    background-color: #2d2d2d;

}

.movie-title {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    line-height: 1em;
    font-style: italic;
}

.delete-btn:hover {

    color: #de6565;
}

input {
    font-weight: 500;
    color: #222;
    background-color: lightgray;
}

#addMovie {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 40%
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title-div {
    display: flex;
}

.title-div>input {
    /*flex-grow: 1;*/
}

.movie-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#addBtn {
    margin: auto;
}

.movie-data1 {
    display: flex;
    width: 33%;
}

.movie-data1>input {
    /*flex-grow: 1;*/
}

.description {
    color: #ccc;
    font-size: small;
    font-style: italic;
}

.runtime-input {
    /*width: 100px;*/
}


#sortBox {
    display: flex;
}

#azBtn {

    width: 50%;
}

#zaBtn {

    width: 50%;
}

input {
    width: 100%
}

.w33 {
    width: 32.8%;
    display: inline-block;
}

.btnContainer {
    display: flex;
    width: 7%;
    position: absolute;
    bottom: 5%;
    left: 46.5%;
}

#leftBtn {
    border-radius: 10px 0 0px 10px;
    width: 50%;

}

#rightBtn {
    border-radius: 0 10px 10px 0;
    width: 50%;
}

